body{
    margin: 0;
    font-family: 'Roboto Mono', monospace;
    text-align: center;
    text-decoration: none;
    background-color: #F9F5EB;
}
h1{
    text-transform: uppercase;
}
.main-title{
    font-size:  5rem;
    background-color: #3C486B;
    margin: 0;
    color: #F9F5EB;
}
.main{
    margin: 10px;
    padding-bottom: 700px;
}
.card.mario{
    border: #3C486B;
    float: left;
    width: 33%;
}
.card img{
    height: 200px;
    float: left;
}
.imgcontact{
    width: 2rem;
}
.divcontact{
    display: flexbox;
    text-align: center;
}
.footer{
    float: none;
    text-align: center;
    padding: 5px;
    text-align: center;
    font-weight: bold;
    background-color: #3C486B;
}
.footer li{
    display: inline-block;
    list-style: none;
}

@media screen and (max-width:600px){
    .gif
    {
        width: 50%;
    }
}
