@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
body{
    margin: 0;
    font-family: 'Roboto Mono', monospace;
    text-align: center;
    text-decoration: none;
    background-color: #F9F5EB;
}
h1{
    text-transform: uppercase;
}
.header{
    padding: 120px;
}
.header img{
    width: 30px;
    margin: 0;
    padding: 0;
}
.aboutme img{
    width: 200px;
    position: static;
}
.main-title{
    font-size:  5rem;
    background-color: #3C486B;
    margin: 0;
    color: #F9F5EB;
}
.sub-title{
    background-color: #3C486B;
    margin: 0;
    color: #F9F5EB;
}
span{
    background-color: #3C486B;
    color: #F9F5EB;
}
.main{
    display: grid;
    grid-template-columns: repeat(3,auto);
    grid-template-rows: repeat(3,auto);
    gap: 100px;
    margin-left: 100px;
    padding-bottom: 200px;
}
.card{
    border: #3C486B;
    width: 500px;
    margin-right:100px ;
}
.left img{
    height: 200px;
}
.footer{
    text-align: center;
    padding: 5px;
    font-weight: bold;
    background-color: #3C486B;
}
.footer li{
    display: inline-block;
    text-decoration: none;
    list-style: none;
}
footer p{
    color: #F9F5EB;
}
footer img{
 height: 30px;
}
.para{
    font-size: 20px;
    font-weight: bold;
}

@media screen and (max-width:600px){
    .gif
    {
        width: 50%;
    }
    .main {
    display: grid;
    grid-template-columns: repeat(1, auto);
    grid-template-rows: repeat(3, auto);
    gap: 100px;
    margin-left: 0px;
    }
    

}
