@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");
:root {
  --main-color: #3c486b;
  --sub-color: #f9f5eb;
}
body {
  margin: 0;
  font-family: "Roboto Mono", monospace;
  text-align: center;
  text-decoration: none;
  background-color: var(--sub-color);
}
h1 {
  text-transform: uppercase;
}
a {
  text-decoration: none;
}
.header {
  padding: 120px;
}
.header img {
  width: 30px;
  margin: 0;
  padding: 0;
}
.main-title {
  font-size: 5rem;
  background-color: var(--main-color);
  margin: 0;
  color: var(--sub-color);
  text-transform: uppercase;
  font-weight: 900;
}
.sub-title {
  background-color: var(--main-color);
  color: var(--sub-color);
  padding: 5px 50px;
  margin: 10px 0px;
}
.sub-title-black {
  background-color: var(--sub-color);
  color: var(--main-color);
}
span {
  background-color: var(--main-color);
  color: var(--sub-color);
}
.main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(300px, 1fr));
  gap: 50px;
  /* margin-left: 100px; */
  margin-top: 80px;
}
.card {
  border: var(--main-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--main-color);
  /* border-radius: 10px; */
  margin: 0px 0px 20px 0px;
}
.card img {
  height: clamp(100px, 300px, 400px);
  width: clamp(100px, 400px, 400px);
}
footer {
  text-align: center;
  font-weight: bold;
  background-color: var(--main-color);
  padding: 5px;
  position: sticky;
}
footer li {
  display: inline-block;
  text-decoration: none;
  list-style: none;
}
footer img {
  height: 30px;
}
.para {
  font-size: 1.25rem;
  font-weight: bold;
  width: clamp(100px, 300px, 400px);
  background-color: var(--sub-color);
  color: var(--main-color);
}
.para-black {
  font-size: 1.25rem;
  font-weight: bold;
  background-color: var(--main-color);
  color: var(--sub-color);
}
#canvasbtn {
  width: 150px;
  height: 30px;
  border-radius: 10px;
  border-style: none;
  background: var(--sub-color);
  border: var(--main-color) solid 1px;
  color: var(--main-color);
  margin-bottom: 10px;
  font-weight: 900;
}
#canvasbtn:hover {
  cursor: pointer;
  background-color: var(--main-color);
  border: var(--sub-color) solid 1px;
  color: var(--sub-color);
}
canvas {
  height: clamp(200px, 300px, 400px);
  background-color: white;
}
@media screen and (max-width: 600px) {
  .header {
    padding: 120px 0px;
    margin: 0;
  }
  .main-title {
    font-size: 4rem;
  }
  #myCanvas {
    height: clamp(50px, 200px, 300px);
  }
}
