@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");
$main-color: #3c486b;
$sub-color: #f9f5eb;

body {
  margin: 0;
  font-family: "Roboto Mono", monospace;
  text-align: center;
  text-decoration: none;
  background-color: $sub-color;
}
h1 {
  text-transform: uppercase;
}
a {
  text-decoration: none;
}
.header {
  padding: 120px 0px;
  margin: 0 200px;
}
.header-black-tilted {
  padding: 70px 0px 30px;
  position: relative;
  margin: 200px 200px 200px;
}
.header-black-tilted::after {
  content: "";
  background: $main-color;
  position: absolute;
  inset: 0;
  transform: skewY(5deg);
  z-index: -1;
}
.header-black-tilted b {
  display: block;
  margin-top: 0.5rem;
  color: $sub-color;
}
.header img {
  width: 30px;
  margin: 0;
  padding: 0;
}
.main-title {
  font-size: 5rem;
  background-color: $main-color;
  margin: 0;
  color: $sub-color;
  text-transform: uppercase;
  font-weight: 900;
}
.sub-title {
  background-color: $sub-color;
  color: $main-color;
  padding: 5px;
  margin: 10px 0px;
  font-weight: 600;
}
.sub-title-black {
  background-color: $main-color;
  color: $sub-color;
}
span {
  background-color: $main-color;
  color: $sub-color;
}
.main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(300px, 1fr));
  gap: 50px;
  /* margin-left: 100px; */
  margin-top: 80px;
}
.card {
  border: $main-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $sub-color;
  /* border-radius: 10px; */
  margin: 0px 0px 20px 0px;
}
.card img {
  height: clamp(100px, 300px, 400px);
  width: clamp(100px, 400px, 400px);
}
footer {
  text-align: center;
  font-weight: bold;
  background-color: $main-color;
  padding: 5px;
  position: sticky;
}
footer li {
  display: inline-block;
  text-decoration: none;
  list-style: none;
}
footer img {
  height: 30px;
}
.para {
  font-size: 1.25rem;
  font-weight: bold;
  width: clamp(100px, 400px, 400px);
  background-color: $main-color;
  color: $sub-color;
}
.para-black {
  font-size: 1.25rem;
  font-weight: bold;
  background-color: $main-color;
  color: $sub-color;
}
#canvasbtn {
  width: 150px;
  height: 30px;
  border-radius: 10px;
  border-style: none;
  background: $sub-color;
  border: $main-color solid 1px;
  color: $main-color;
  margin-bottom: 10px;
  font-weight: 900;
}
#canvasbtn:hover {
  cursor: pointer;
  background-color: $main-color;
  border: $sub-color solid 1px;
  color: $sub-color;
}
canvas {
  height: clamp(200px, 300px, 400px);
  background-color: white;
}
@media screen and (max-width: 600px) {
  .header {
    padding: 120px 0px;
    margin: 0;
  }
  .main {
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(300px, 1fr));
  }
  .main-title {
    font-size: 4rem;
  }
  .header {
    width: 100%;
  }
  .header-black-tilted {
    width: 100%;
    margin: 200px 0px 200px;
  }
  .sub-title {
    margin: 10px 0px;
  }
  .para {
    width: clamp(100px, 280px, 400px);
  }
  #myCanvas {
    height: clamp(50px, 200px, 300px);
  }
}
